body{
    display: flex; /*все элементы должны стоять по центру*/
    justify-content: center;
    margin: 0;
    background: #6c7b2a;
    overflow: hidden;
}

.game-score{
    position:absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    color: white;
    background-color: red;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    font-size: 25px;
    font-family: Helvetica;

}

.car{
    position: absolute;
    width: 95px;
    transform: translateY(65vh);
}

.road{
    background: #817f84;
    width: 300px;
    height: 100vh;
}

.tree{
    position: absolute;
    z-index: 10;
}

.tree1{
    transform: translate(-230px, -15vh);
    width: 280px;
}
.tree2{
    transform: translate(-240px, 25vh);
    width: 250px;
}
.tree3{
    transform: translate(-200px, 70vh);
    width: 200px;
}
.tree4{
    transform: translate(230px, -5vh);
    width: 270px;
}
.tree5{
    transform: translate(250px, 40vh);
    width: 200px;
}
.tree6{
    transform: translate(200px, 80vh);
    width: 290px;
}

.game-button:hover{
    transform: scale(1.2);
}
.game-button{
    position: fixed;
    right: 10px;
    top: 10px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform .3s ease;
    z-index: 20;
}
.game-button img{
    width: 60px;
}

.game-button .play{
    display: none;
}

.danger{
    position: absolute;
    width: 80px;
    transform: translate(-100px, -250px);
}
.arrow{
    position: absolute;
    width: 60px;
    transform: translate(10px, -600px);
}
.coin{
    position: absolute;
    width: 50px;
    transform: translate(50px, -100px);
}

.backdrop{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.backdrop-container{
    padding: 13px 8px;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.restart-button{
    background: rebeccapurple;
    color: white;
}




